<!--
! Created On Sun September 01 12:32 AM 2024

! @author: Talha Usman
! Status: Learner
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyzing Text</title>
</head>

<body>
    <h1>Your Analyzed Text - {{purpose}}</h1>
    <h2>Operation {{status}} </h2>
    <pre style="white-space: pre-wrap;">{{ analyzed_text }}</pre>
    <span>Number Of Characters: {{total_char}}</span>
</body>

</html>